@import "../../../shared/theme/common.scss";

.container {
  background: $background-color;
  min-height: 100vh;
  padding: 70px 0px 0px 0px;
  color: white; // todo: check about moving this
  font-family: "Poppins", sans-serif; // todo: check about moving this
}

.horizontal-padding {
  padding: 0px 30px;
}

h1 {
  font-weight: 500;
}

.searchBoxWrapper {
  margin-top: 24px;
}
