<div class="container">
  <div class="horizontal_padding">
    <h1>Find the best getaways for you</h1>
  </div>
  <div class="horizontal_padding">
    <div class="search_box_wrapper">
      <app-multi-filter></app-multi-filter>
    </div>
  </div>
  <div class="carousel_padding">
    <app-text-carousel
      [textArray]="categories"
      (textClicked)="textClickedHandler($event)"
    ></app-text-carousel>
  </div>
  <div class="horizontal_padding">
    <div class="card_list_container">
      <div *ngFor="let item of cardList">
        <app-card [item]="item"></app-card>
      </div>
    </div>
  </div>
</div>
