.carouselText {
  color: white;
  text-decoration: underline;
  text-decoration-color: white; /* sets the color */
  text-underline-offset: 3px; /* Adjusts the underline's vertical position */
}

.row {
  display: flex;
  flex-direction: row;
}
