<div class="container">
  <div class="center width">
    <app-icon [iconName]="'home'"></app-icon>
    <p class="text_active">home</p>
  </div>
  <div class="center width">
    <app-icon [iconName]="'message'"></app-icon>
    <p class="text">inbox</p>
  </div>
  <div class="center width">
    <app-icon [iconName]="'heart'"></app-icon>
    <p class="text">favorites</p>
  </div>
  <div class="center width">
    <app-icon [iconName]="'person'"></app-icon>
    <p class="text">profile</p>
  </div>
</div>
