// Import common theme styles
@import "../../theme/common.scss";

// Main container styles
.container {
  /* Positioning and Layout */
  position: fixed; /* Fixes container to the viewport */
  bottom: 0; /* Aligns container to the bottom of the viewport */
  left: 0; /* Aligns container to the left side of the viewport */
  z-index: 2; /* Sets stack order for layering */
  display: flex; /* Enables flexbox layout */
  justify-content: space-between; /* Spaces out children elements within the container */
  align-items: center; /* Centers children vertically */

  /* Dimensions */
  width: 100vw; /* Full viewport width */
  height: 80px; /* Fixed height for the container */
  padding: 0px 30px; /* Horizontal padding inside the container */
  box-sizing: border-box; /* Includes padding and border in width/height calculations */

  /* Appearance */
  background: rgba(12, 16, 21, 0.97); /* Semi-transparent background color */

  /* Border Styling */
  border-top: 1px solid $secondary-text-color; /* Top border color from theme variable */
  border-top-left-radius: 30px; /* Rounded corners on the top left */
  border-top-right-radius: 30px; /* Rounded corners on the top right */
}

// Styles for active menu item text
.text_active {
  font-weight: 600; // Bold font weight
  font-size: 10px; // Small font size
}

// Menu item text styles
.text {
  font-size: 10px; // Small font size
  color: rgba(256, 256, 256, 0.5); // Light, semi-transparent text color
}

// Centered flex container for vertical alignment
.center {
  display: flex; // Enables flexbox layout
  align-items: center; // Centers items horizontally within flex container
  flex-direction: column; // Stacks items vertically
  gap: 2px; // Small gap between items
}

// Fixed width menu item
.width {
  width: 50px; // Sets a fixed width of 50px
}
