@import "../../theme/common.scss";

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 20px 10px;
}

.item {
  border-radius: 6%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Clips child elements to fit rounded corners */
}

.title {
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit to 1 lines */
  -webkit-box-orient: vertical;
  line-clamp: 1; /* Standard property for compatibility */
  overflow: hidden;
}

.image {
  aspect-ratio: 160/150;
  width: 100%; /* Set width as needed */
}

.image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.cardInfo {
  padding: 10px 12px 10px 12px;
  background-color: $secondary-background-color;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $secondary-text-color;
}

.descriptionContainer {
  height: 2rem;
}

.priceContainer {
  padding-top: 16px;
}
