<div class="container">
  <div *ngFor="let item of cardList" class="item">
    <div class="image">
      <img [src]="item.imageUri" alt="" />
    </div>
    <div class="cardInfo">
      <p class="title">{{ item.title }}</p>
      <div class="descriptionContainer">
        <p class="description">{{ item.description }}</p>
      </div>
      <div class="priceContainer">
        <p class="price">${{ item.price }}</p>
        <p class="pricePostFix">/night</p>
      </div>
    </div>
  </div>
</div>
