@import "../../theme/common.scss";

.item {
  border-radius: 6%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Clips child elements to fit rounded corners */
}

.title {
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit to 1 lines */
  -webkit-box-orient: vertical;
  line-clamp: 1; /* Standard property for compatibility */
  overflow: hidden;
  font-family: "Poppins", sans-serif; // todo: check about moving this
}

.image {
  aspect-ratio: 160/150;
  width: 100%; /* Set width as needed */
}

.image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card_info {
  padding: 10px 9px 10px 12px;
  background-color: $secondary_background_color;
  position: relative;
}

.stars {
  position: absolute;
  top: -13px;
  right: 9px;
  height: 20px;
  width: 46px;
  background: $background-color;
  @extend .borders;
  border-radius: 16px !important;
}

.stars_text {
  padding-left: 2px;
  font-size: 10px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $secondary_text_color;
  font-size: 10px;
}

.description_container {
  padding-right: 28px;
}

.price_container {
  padding-top: 1rem;
  display: flex;
  align-items: baseline;
  position: relative;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

.price_postfix {
  color: $secondary_text_color;
  font-size: 10px;
}

.arrow_button {
  background: #0c1015;
  height: 32px;
  width: 32px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  @extend .borders;
}

.borders {
  border-radius: 16%;
  border-color: rgba(256, 256, 256, 0.1);
  border-style: solid;
  border-width: 1px;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.full_height {
  height: 100%;
}
