@import "../../theme/common.scss";

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 20px 10px;
}

.item {
  border-radius: 6%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Clips child elements to fit rounded corners */
}

.title {
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit to 1 lines */
  -webkit-box-orient: vertical;
  line-clamp: 1; /* Standard property for compatibility */
  overflow: hidden;

  font-family: "Poppins", sans-serif; // todo: check about moving this
}

.image {
  aspect-ratio: 160/150;
  width: 100%; /* Set width as needed */
}

.image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.cardInfo {
  padding: 10px 12px 10px 12px;
  background-color: $secondary-background-color;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $secondary-text-color;
  font-size: 10px;
}

.descriptionContainer {
  padding-right: 28px;
}

.priceContainer {
  padding-top: 1rem;
  display: flex;
  align-items: baseline;
  position: relative;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

.pricePostFix {
  color: $secondary-text-color;
  font-size: 10px;
}

.arrowButton {
  background: #0c1015;
  height: 32px;
  width: 32px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 16%;
  border-color: $secondary-text-color;
  border-style: solid;
  border-width: 1px;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
}
