$background-color: #16202f;
$color: #39414e;

.container {
  display: flex;
  align-items: center;
}

.inputWrapper {
  margin-left: 10px;
}

::ng-deep #iconInputContainer .input::placeholder,
::ng-deep #iconInputContainer p {
  color: rgba(256, 256, 256, 0.2);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2); /* Black stroke of 2px */
}

::ng-deep #iconInputContainer .input {
  box-sizing: border-box;
  width: 100%;
  border: none; /* Remove borders */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  background: none; /* Remove background */
  outline: none; /* Remove focus outline */
  box-shadow: none; /* Remove box-shadow */
  font: inherit; /* Inherit the font from the parent element */
  color: inherit;
}
