p {
  color: white;
  margin: 0px;
  font-family: "Poppins", sans-serif; // todo: check about moving this
}

h1 {
  font-weight: 500;
  font-family: "Poppins", sans-serif; // todo: check about moving this
}
