<div id="main">
  <div class="searchWrapper">
    <div class="topRow">
      <app-icon-input>
        <app-icon icon select="[icon]" iconName="search"></app-icon>
        <input
          input
          type="text"
          class="input"
          [placeholder]="'find your desired stay'"
        />
      </app-icon-input>
    </div>
    <div class="bottomRow">
      <app-icon-input>
        <app-icon icon iconName="date"></app-icon>

        <p text>from</p>
      </app-icon-input>
      <div class="vertical-line"></div>

      <div class="justify-center">
        <app-icon-input>
          <app-icon icon iconName="date"></app-icon>

          <p text>to</p>
        </app-icon-input>
      </div>

      <div class="vertical-line"></div>

      <app-icon-input>
        <app-icon icon iconName="add_person"></app-icon>

        <p text>count</p>
      </app-icon-input>
    </div>
  </div>
</div>
