<div id="main">
  <div class="searchWrapper">
    <div class="topRow">
      <app-icon-input placeholder="find your desired stay">
        <app-icon iconName="search"></app-icon>
      </app-icon-input>
    </div>
    <div class="bottomRow">
      <app-icon-input placeholder="from">
        <app-icon iconName="date"></app-icon>
      </app-icon-input>

      <app-icon-input placeholder="to">
        <app-icon iconName="date"></app-icon>
      </app-icon-input>

      <app-icon-input placeholder="count">
        <app-icon iconName="add_person"></app-icon>
      </app-icon-input>
    </div>
  </div>
</div>
